h1
{
    text-transform: capitalize;
    
}

.imgcentre
{
    text-align: center;
}


#listechanson
{
    display:inline-block;
    width:100%;
    margin-top:5%;
    margin-left: 10%;
}
#titre
{
    text-align: center;
    font-size: 1.3em;
}
#AudioSong
{
    margin-left: 10%;
    margin-bottom: 5%;
}
#listeplaylist
{
    width: 80%;
}